main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.brands {
  display: flex;
  flex-direction: row;
}

.subtitle {
  font-family: "Montserrat", serif;
  font-weight: bold;
  width: 300px;
  word-wrap: break-word;
  background-color: white;
  white-space: normal;
}

.description {
  font-family: "Montserrat", serif;
  width: 300px;
  word-wrap: break-word;
  background-color: white;
  white-space: normal;
}

.main-image {
  height: 80%; /* Ajusta la altura al 50% del contenedor padre */
  width: auto; /* Mantiene la proporción original del SVG */
}

.brands-information h3 {
  font-family: "Montserrat", serif;
  font-weight: semibold;
}

.brands-information p {
  font-family: "Montserrat", serif;
  width: 220px;
  font-size: 0.8rem;
  font-weight: ligth;
  word-wrap: break-word;
  background-color: white;
  white-space: normal;
  color: gray;
}

.brands-images {
  display: flex;
  gap: 20px;
}

.brands-images img {
  height: 25px;
  width: auto;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .main-image {
    height: 50%;
    width: auto;
  }

  .about-us {
    display: none;
  }
}
