main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 90px;
}

.main-content {
  height: 50vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  gap: 10px;
}

.brands {
  display: flex;
  flex-direction: row;
}

.subtitle {
  font-family: "Montserrat", serif;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 1.5rem;
  width: 300px;
  word-wrap: break-word;
  background-color: white;
  white-space: normal;
}

.description {
  font-family: "Montserrat", serif;
  font-size: 1.125rem;
  width: 300px;
  word-wrap: break-word;
  background-color: white;
  white-space: normal;
  color: gray;
}

.main-image {
  height: 28rem;
  width: auto;
  margin-right: 80px;
  margin-left: 20px;
}

.button-action {
  margin-top: 20px;
}

.button-action {
  display: flex;
  flex-direction: row;
}

.button-action .conteinter-text-button {
  margin-right: 40px;
  cursor: pointer;
}

.button-action .text-button {
  position: relative;
  bottom: 40px;
  left: 15px;
  font-family: "Montserrat", serif;
  font-weight: bold;
}

.button-action .circle {
  background-color: #ff920f;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.button-action img {
  width: 70px;
  height: auto;
  filter: invert(77%) sepia(70%) saturate(4624%) hue-rotate(352deg)
    brightness(104%) contrast(101%);
  transform: rotate(90deg);
}

.brands-information {
  margin-right: 100px;
}

.brands-information h3 {
  font-family: "Montserrat", serif;
  font-weight: semibold;
  margin-bottom: 10px;
}

.brands-information p {
  font-family: "Montserrat", serif;
  width: 220px;
  font-size: 0.8rem;
  font-weight: ligth;
  word-wrap: break-word;
  background-color: white;
  white-space: normal;
  color: gray;
}

.brands-images {
  display: flex;
  gap: 20px;
}

.brands-images img {
  height: 25px;
  width: auto;
  filter: grayscale(100%);
}

.benefits {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.benefits-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.benefits-text {
  font-family: "Montserrat", serif;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.benefits-image-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #ff920f;
  width: 60px;
  height: 70px;
  border-radius: 15px;
}

.benefits-image-container img {
  width: 40%;
  height: auto;
  filter: brightness(0) invert(1);
}

@media (max-width: 1370px) {
  .main-image {
    height: 300px;
    width: auto;
  }

  .subtitle {
    font-size: 1.125rem;
  }

  .description {
    font-size: 1rem;
  }
}

@media (max-width: 1070px) {
  main {
    padding-bottom: 0px;
  }

  .main-content {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }

  .main-image {
    height: 75%;
    width: auto;
  }

  .about-us,
  .benefits,
  .button-action,
  .brands {
    display: none;
  }
}
