.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 200px;
  height: 100%;
  background: #1a1a35;
  color: white;
  padding: 2rem 1rem;
  transition: left 0.3s ease;
}

.sidebar h2 {
  font-family: "Montserrat", serif;
  font-size: x-large;
  margin-bottom: 2rem;
  font-weight: 600;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 1.5rem 0;
}

.sidebar a {
  color: white;
  font-weight: 500;
  font-size: large;
  text-decoration: none;
  font-family: "Montserrat", serif;
}
